@CHARSET "UTF-8";

/*mobile*/
@media (max-width: 765px) {

html {
 font-size:16px;
}

.header {
  height: 66px;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

.top {
  height: 125px;
}

.mid {
  padding-top: 30px;
  height: 150px;

  max-width:450px;
  margin: 0 auto;
}

.method1 {
  margin-left:30px;
    font-size: 1.25rem;
}

.method2 {
    font-size: 1.25rem;
}


.bottom {
  padding:30px;
  margin-left: 50px;
  display: inline-block;
  margin: 0 auto;
  width: 100%
}


.email {
  font-size=1.0rem;
}


.password {
  display: inline-block;
}


.confirm_password {
  display: inline-block;
}

.agreement {
  display: inline-block;
}

.checkbox  {
  float:left;
}

.rememberId  {
  margin-right: 80px;
}

.findId {
  float: right;
}

.loginBtn {
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-sm {
  float:right
}

.isVisitFirst {
  margin-left: 30px;
  margin-right: 70px;
}



}





/*desktop*/
@media (min-width: 766px) {

html {
 font-size:16px;
}

body {
  background-image:url(../images/login.jpg);
}

.loginform {
  background-color: rgba(255,255,255,0.9);
border-radius: 10px;
width:400px;
padding
}

.header {
  height: 66px;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

.top {
  height: 125px;
}

.mid {
	padding-top: 30px;
	height: 150px;

  max-width:450px;
  margin: 0 auto;
}

.method1 {
	margin-left:30px;
	  font-size: 1.25rem;
}

.method2 {
    font-size: 1.25rem;
}

.bottom {
	padding:30px;
	margin-left: 50px;
  display: inline-block;
  margin: 0 auto;
  width: 100%
}

.email  {
	font-size=1.0rem;
}


.password {
  display: inline-block;
}


.confirm_password {
  display: inline-block;
}

.agreement {
  display: inline-block;
}

.checkbox  {
  float:left;
}

.rememberId  {
  margin-right: 80px;
}

.findId {
	float: right;
}

.loginBtn {
	margin-top: 40px;
	margin-bottom: 30px;
}

.btn-sm {
  float:right
}

.isVisitFirst {
	margin-left: 60px;
	margin-right: 70px;
}

}
