h1 {
  margin-top: 0;
}

.header {
  width: 100%;
  background-color: #F39C12;
}

.container {
  padding: 0 20px;
  max-width: 1150px;
  margin: 0 auto;
}

.main-content {
  min-height: 600px;
  margin-top: 30px;
}

.footer {
  width: 100%;
  background-color: #F39C12;
}
.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
  padding-right: 14px;
  margin-right: 10px;
  background-color: #E0E0E0;
  border-radius: 27px;
}
.nav .circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 27px;
  background-color: #F39C12;
  text-align: center;

}
.nav .circle .fa {
  line-height: 40px;
  display: inline-block;
  font-size: 1.8em;
  color: white;
}
.nav-text {
  display: inline-block;
  height: 40px;
  margin-left: 7px;
  line-height: 40px;
  font-size: 18px;
}

/*main page*/
.zzal-container {
  margin: 30px 0;
  width: 100%;
}
.zzal-header .title {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
}
.zzal-container .plus {
  float: right;
  font-size: 16px;
}
.zzal-container .plus .fa {
  margin-right: 5px;
}
.zzal-list {
  margin-top: 10px;
  width: 100%;
}
.zzal-list li {
  float: left;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.zzal-list li:first-child {
  padding-left: 0px;
}
.zzal-list li:last-child {
  padding-right: 0px;
}
.zzal-list .big {
  display: inline-block;
  width: 50%;
}
.zzal-list .big .img {
  display: inline-block;
  width: 100%;
  height: 295px;
  overflow: hidden;
}
.zzal-list .big .title {
  font-size: 26px;
}
.zzal-list .big .sub-title {
  font-size: 20px;
}
.zzal-list .nick {
  font-size: 14px;
}
.zzal-list .view {
  font-size: 14px;
}
.zzal-list .small {
  width: 25%;
}
.zzal-list .small .title {
  font-size: 20px;
}
.zzal-list .small .sub-title {
  font-size: 16px;
}
.zzal-list .small .img {
  display: inline-block;
  width: 100%;
  height: 295px;
  overflow: hidden;
}



/*mobile*/
@media (max-width: 740px) {
  .header {
    height: 50px;
  }
}

/*desktop*/
@media (min-width: 741px) {
  .header {
    height: 66px;
  }
}
