/*desktop*/
@media (min-width: 741px) {
  h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  ul{
    font-size: 1.5rem;
    color: gray;
  }
  .collect-photoAdd {
    margin-top: 65px;
    border: 2px solid gray;
    width: 100%;
    height: 250px;
    background-image: url('../image/space.gif');
  }
  .btn1 {
    width: 20%;
    position: relative;
    left: 60%;
    top: 50%;
  }
  .btn2 {
    width: 20%;
    position: relative;
    left: 60%;
    top: 50%;
  }
  .collect-add {
    margin-top: 50px;
  }
  .collect-name {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 2rem;
  }
  .collect-exp {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 2rem;
  }
  .onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 36px;
    padding: 0;
    line-height: 36px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
  }
   .onoffswitch-label:before {
    content: "";
    display: block;
    width: 36px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
  }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
  }
    .onoffswitch-checkbox:checked + .onoffswitch-label,
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
  }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
  }

}
/*mobile*/
@media (max-width: 740px) {
  body {
    background-color: #333333;
  }
  ul{
    font-size: 1.2rem;
    color: white;
    margin: 0 0 0 10px;
    padding-top: 10px;
  }

  .collect-photoAdd {
    margin-top: 50px;
    background-image: url('../image/friday.gif');
    position: relative;
    width: 100%;
    height: 180px;
  }

  .btn1 {
    width: 40%;
    position: relative;
    left: 25px;
    margin-bottom: 50px;
  }
  .btn2 {
    width: 40%;
    position: relative;
    left: 25px;
    margin-bottom: 50px;
  }
  .collect-name {
    width: 80%;
    height: 25px;
    border-radius: 6px;
    font-size: 1rem;
    margin: 0 0 0 10px;
  }
  .collect-exp {
    width: 80%;
    height: 25px;
    border-radius: 6px;
    font-size: 1rem;
    margin: 0 0 0 10px;
  }
/*비공개 스위치*/
  .onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    margin: 0 0 50px 10px;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid #E3E3E3;
    border-radius: 26px;
    background-color: #FFFFFF;
    /*transition: background-color 0.3s ease-in;*/
  }
  .onoffswitch-label:before {
    content: "";
    display: block;
    width: 26px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3;
    border-radius: 26px;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label,
   .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
  }

}
