/*html {
  font-size: 16px;
}*/



/*desktop*/
@media (min-width: 766px) {


  .content-con {
    border: 3px solid yellow;
  }

  .content-left {
    width: 80px;
    /*max-height: 700px;*/
    border: 3px solid blue;
    position: fixed;

    padding-left: 15px;
    padding-top: 20px;
    margin-right : 15px;

  }


.fa-camera {
  font-size: 40px;
}

.photo > p {
  margin-top: 0px;
  margin-left: 5px;
}



.video {
  margin-top: 35px;
}

.fa-link {
  font-size:40px;
  margin-left: 3px;
}

.video > p {
  margin-top: 0px;
}


.voice {
  margin-top: 35px;
}

.fa-headphones {
  font-size:40px;
  margin-left: 3px;
}

.voice > p {
  margin-top: 0px;
  margin-left: 100px;

}




  .content-right {
    margin-left: 80px;
    min-width: 95%;
    height: 670px;
    border: 3px solid green;
  }

  .write-con {
    border: 3px solid red;
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }

  .user-line {
    height: 60px;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
  }



  .user-picture {
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin-top: 3px;
    margin-left: 4px;
    border: 1px solid black;
    display: inline-block;
    background-image: url('../image/userpicture.jpg');
    background-size: 50px 50px;
  }

  .id {
    font-size: 0.875rem;
  }


  .title-line {
    height:33px;
    width: 100%;
    border: 1px solid black;
    font-size:1.5rem;
    margin-top:5px;
    margin-bottom: 5px;
  }

  .picture-line {
    height: 315px;
    width: 100%;
    border: 1px solid black;
  }

  .text {
    height: 130px;
    width: 100%
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
  }

}


/*mobile*/
@media (max-width: 765px) {

}

/*module*/
.input-line {
  display: inline-block;
  outline-style: none;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-bottom: 1px solid #eee;
  background: none;
}
