.zzal-container {
	position: relative;
}
.zzal-container .choice-catg {
  width: 100%;
}
.choice-btn {
	position: static;
	bottom: 0;
	right: 20px;
}
.title-category  {
	/* position: relative; */
  font-size: 1.1rem;
  text-align: right;
 /*  padding: 20px 0; */
}
.choiceone {
	text-align: center;
}
.choice-btn {
    margin-left: 73%;
    margin-top: 14px;
    font-size: 1.7rem;
    border-radius: 5px;
    width: 200px;
}
/*2).마진을 준다*/
.catg-choicer {
	margin: 20px;
}
.category-1 {
	width: 100%;
  text-align: center;
}
/*1).catg-choicer label css 를 이미지 클래스 .choosecatg로 담음*/
.choosecatg{
	display: inline-block;
	position: relative;
	height: 200px;
	border-radius: 100px;
	border: 2px solid rgba(0,0,0,0.2);
	cursor: pointer;
	overflow: hidden;
}


.catg-title{
  position: absolute;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 30px;
  z-index: 100;
  width: 100%;
  height: 100%;
	border-radius: 50%;
  text-align: center;
  line-height: 300px;
  left: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.category-1 li {
	float: left;
	width: 33%;
}
.category-1 .catg-choicer {
  display: inline-block;
  position : relative;
  /* margin-right: 10px; */
  /* width: 30%; */
}
.catg-choicer .click-checkbox{
  z-index: 200;
  width: 80px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
	display: none;
}
.catg-choicer label {
	cursor: pointer;
	width: 100%;
  height: 100%;
  display: inline-block;
}
/*3).catg-choicer label:after를 만든다*/
.catg-choicer label:after {
	transition: .1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	content: '';
  width: 80px;
  height: 55px;
  position: absolute;
  top: 45px;
  left: 65px;
  /* border: 20px solid #F39C12; */
  border: 20px solid white;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0.2;
  transform: rotate(-45deg);
  z-index: 400;
	border-radius: 10px;
}
.catg-choicer label:hover:after {
  opacity: 0.4;
}
/*체크박스 클릭시 색변화*/
.catg-choicer input[type=checkbox]:checked + label:after {
	transition: .1s cubic-bezier(0.4, 0, 0.2, 1);
  content: '';
  width: 80px;
  height: 55px;
  position: absolute;
  top: 47px;
  left: 65px;
  border: 20px solid #F39C12;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 1;
  transform: rotate(-45deg);
  z-index: 400;
	border-radius: 10px;
}

/*mobile*/
@media (max-width: 765px) {
	.main-content.choicecategory-page {
	   margin-top : 67px;
	}
	
#all-category-title .choice-btn {
  position: static;
  margin : 0 auto;
  display : block;
  margin-bottom: 5px;
  width: 87%;
  }

	
	.choosecatg {
    height: 95px;
	}
	.catg-choicer {
    margin: 5px;
	}
	.category-1 {
    margin-top: 20px;
	} 
	.catg-title {
    line-height: 150px;
    font-size: 16px;
	}
	.catg-choicer label:after {
    width: 60px;
    height: 45px;
    top: 5px;
    left: 19px;
	}
	.catg-choicer input[type=checkbox]:checked + label:after {
	  content: '';
	  width: 60px;
    height: 45px;
	  top: 7px;
    left: 19px;
	}
}


