.private-collect {
  float: left;
  margin: 7px 7px 0 0;
}
.main-content {
  margin-top: 0;
}
.collect-addpage {
 	position: relative;
  margin-top: 66px;
}
 .collect-photo h2 {
   font-size: 2.5rem;
   margin: 0;
 }
 .collect-add ul{
   font-size: 1rem;
   color: gray;
   margin: 10px 0 0 0;
 }
 .represent-photo {
   position: absolute;
   left: 50%;
   top: 26%;
   transform: translateX(-50%);
   width: 117px;
   height: 105px;
   border-radius: 7px;
   text-align: center;
   background: rgba(0,0,0,0.8);
 }
 .represent-photo .text {
    position: absolute;
    width: 100%;
    color: #aaa;
    bottom: 9px;
    left: 0;
    font-size: 0.875rem;
 }
 .collect-photo {
   z-index: 10;
   /* width: 100%; */
   height: 250px;
   background-position: center;
   /* background-repeat: no-repeat; */
   /* background-size: cover; */
 }
 .collect-photo .fa {
   line-height: 88px;
   font-size: 4rem;
   color: #fff;
 }
 .input-option {
   font-size: 1.5rem;
 }
 .collect-add {
   margin-top: 50px;
 }
 .input-form1 {
   border-bottom: 1px solid lightgray;
   margin: 20px 0;
   margin-bottom: 30px;
 }
 .range-text {
   color: #A2A2A2;
   margin-left: 5px;
 }
 .private-collectSwitch {
   margin-left: 5px;
   margin-bottom: 15px;
 }
 .collect-input-name {
   width: 100%;
   height: 40px;
   border: none;
   font-size: 1rem;
   padding: 3px;
   margin-top: 10px;
 }
 .onoffswitch {
   position: relative;
    width: 60px;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select: none;
   float: left;
 }
 .onoffswitch-checkbox {
   display: none;
 }
 .onoffswitch-label {
   display: block;
   overflow: hidden;
   cursor: pointer;
   height: 36px;
   padding: 0;
   line-height: 36px;
   border: 2px solid #E3E3E3;
   border-radius: 36px;
   background-color: #FFFFFF;
   transition: background-color 0.3s ease-in;
 }
  .onoffswitch-label:before {
   content: "";
   display: block;
   width: 36px;
   margin: 0px;
   background: #FFFFFF;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 22px;
   border: 2px solid #E3E3E3;
   border-radius: 36px;
   transition: all 0.3s ease-in 0s;
 }
   .onoffswitch-checkbox:checked + .onoffswitch-label {
   background-color: #49E845;
 }
   .onoffswitch-checkbox:checked + .onoffswitch-label,
   .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
 }
   .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   right: 0px;
 }

 .buttons .btn {
   width: 200px;
   height: 50px;
   font-size: 1.375rem;
   margin-right: 5px;
 }
 
 .buttons {
   text-align: right;
 }
 .buttons .btn {
   display: inline-block;
 }

/*mobile*/
@media (max-width: 766px) {
	.collect-addpage {
    margin-top: 0px;
	}
	.input-option {
	  font-size: 1.375rem;
	}
	.buttons {
    text-align: center;
	}
	.buttons .btn {
    display: inline-block;
    width: 49%;
	  font-size: 1.125rem;
    margin-right: 0;
	}
}
/* @media (max-width: 766px) {
  .main-content.addpage {
    background-color: #DDDDDD;
    height: 700px;
  }
  .collect-add ul{
    font-size: 0.7rem;
  }
  .collect-add {
    height: 250px;
  }
  .collect-photo-add {
    position: relative;
  }
  .collect-photo {
    border: 2px solid gray;
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .collect-photo a {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .collect-photo .fa-camera {
    font-size: 4rem;
    color: black;
  }
  .input-option {
    font-size: 1rem;
  }
  .input-form1 {
    border-bottom: 1px solid lightgray;
    margin: 10px;
  }
  .range-option {
    margin: 10px;
  }
  .private-collectSwitch {
    margin: 10px;
  }
  .collect-input-name {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 0.8rem;
    padding-left: 7px;
    background: 0 0;
  }
  .collect-input-exp {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 0.8rem;
    padding-left: 7px;
    background: 0 0;
  }
  
  비공개 스위치
  .onoffswitch {
    position: relative;
    width: 50px;
    margin:0 100px 50px 0;
    float: left;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid #E3E3E3;
    border-radius: 26px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
  }
  .onoffswitch-label:before {
    content: "";
    display: block;
    width: 26px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3;
    border-radius: 26px;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label,
   .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
  }
    .btn-cancle {
      width: 100px;
      height: 35px;
      font-size: 1rem;
      float: right;
    }
    .btn-make{
      width: 100px;
      height: 35px;
      font-size: 1rem;
      float: right;
    }
} */
/* .btn-cancle {
  color: white;
  background-color: #444;
  border-color: #ccc;
}
.btn-make{
  color: white;
  background-color: #F39C12;
  border-color: #ccc;
}
.btn-default:active {
	color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
} */
