.private-collect {
  float: left;
  margin: 7px 7px 0 0;
}

/*desktop*/
@media (min-width: 741px) {
  .collect-photo h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  .collect-add ul{
    font-size: 1rem;
    color: gray;
  }
  .input-option {
    margin-top: 30px;
    font-size: 1.5rem;
  }
  .collect-photo {
    z-index: 10;
    border: 2px solid gray;
    width: 100%;
    height: 250px;
    background-color: black;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .collect-photo .fa-camera {
    z-index: 20;
    font-size: 5rem;
    position: absolute;
    right: 50%;
    top: 20%;
    color: white;
  }

  .collect-add {
    margin-top: 50px;
  }

  .clickadd-btn {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    position: fixed;
    position: relative;
    left: 33%;
    top: 50%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:inset 0 0 5px;
  }
  /*.make-btn {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    position: fixed;
    position: relative;
    left: 34%;
    top: 50%;
    background-color: #0064FF;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:inset 0 0 10px
  }
  */
  .collect-input-name {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 1.3rem;
  }
  .collect-input-exp {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 1.3rem;
  }
  .onoffswitch {
    position: relative;
     width: 60px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    float: left;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 36px;
    padding: 0;
    line-height: 36px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
  }
   .onoffswitch-label:before {
    content: "";
    display: block;
    width: 36px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
  }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
  }
    .onoffswitch-checkbox:checked + .onoffswitch-label,
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
  }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
  }

}
/*mobile*/
@media (max-width: 740px) {
  .main-content.addpage {
    background-color: #DDDDDD;
  }

  .collect-add ul{
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .collect-photo {
    margin-top: 50px;
    border: 1px solid gray;
    width: 100%;
    height: 180px;
    background-color: #fff;
    opacity: 0.95;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .collect-photo .fa-camera {
    z-index: 20;
    font-size: 3rem;
    position: absolute;
    right: 45%;
    top: 15%;
    color: white;
  }

  .input-option {
    margin-top: 5px;
    font-size: 1rem;
  }

  .cancle-btn {
    margin:30px 0 30px 25px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:inset 0 0 5px;
  }
  .make-btn {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: #0064FF;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:inset 0 0 10px
  }
  .collect-input-name {
    width: 85%;
    height: 35px;
    border-radius: 6px;
    font-size: 1rem;
    margin:10px 10px 10px;

  }
  .collect-input-exp {
    width: 85%;
    height: 35px;
    border-radius: 6px;
    font-size: 1rem;
    margin:10px 10px 10px;

  }
/*비공개 스위치*/

  .onoffswitch {
    position: relative;
    width: 50px;
    margin:0 100px 50px 0;
    float: left;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;

  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid #E3E3E3;
    border-radius: 26px;
    background-color: #FFFFFF;
    /*transition: background-color 0.3s ease-in;*/
  }
  .onoffswitch-label:before {
    content: "";
    display: block;
    width: 26px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3;
    border-radius: 26px;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label,
   .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
  }

}
