@charset "utf-8";

body {
	margin: 0;
	line-height: normal;
}
body *, body *::before, body *::after {
	box-sizing: border-box;
}

button, input, select, textarea {
	line-height: normal;
}

/*목록 초기화 스타일 모듈*/
ul,
ol{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus, a:hover {
	color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
}

img {
	vertical-align: bottom;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

/*ir기법. 이미지 대체 기법*/
.ir {
	display: block;
	overflow: hidden;
	text-indent: -9999em;
}

.blind {
	display: inline-block;
	position: absolute;
	left: -9999em;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/*콘텐츠 이미지에 적용되는 fluid image*/
img.flex-img {
	width: 100%;
	height: auto;
}

/*원래 이미지 크기 유지*/
img.keep-original-scale {
	max-width: 100%
}

/*배경이미지에 적용되는 fluid bg image*/
.flex-img-3-4 {
	width: 100%;
	padding-bottom: 75%;
	background-size: cover;
	background-position: center center;
}

.flex-img-9-16 {
	width: 100%;
	padding-bottom: 56.25%;
	background-size: cover;
	background-position: center center;
}
/*여기들에 높이만 px로 주면 responsive-crop이된다.*/

img.horizontal-center-img {
	margin-left: 50%;
	transform: translateX(-50%);
}
