textarea {
  resize: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
.zzal-collection {
	display: none;
	padding: 10px 0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
.zzal-collection .do-subc,
.zzal-collection .no-subc {
	display: none;
}
.zzal-collection .upside {
	text-align: left;
	font-size: 14px;
	margin-bottom: 5px;
}
.zzal-collection .img {
    float: left;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}
.zzal-collection .title {
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	color: #5656b1;
}
.zzal-collection .bottomside {
	font-size: 13px;
}
.zzal-collection .left-width {
	display: inline-block;
	width: 60px;
	height: 20px;
  line-height: 20px;
}
.zzal-collection .leftside {
	float: left;
	text-align: left;
}
.zzal-collection .bottomside .btn {
	float: right;
}
.set-time {
	font-size: 12px;
	margin-top: 3px;
}
.settime-sec {
	width: 37px;
	color: #999;
	margin-right: 3px;
	border: 1px solid #aaa;
  border-radius: 3px;
  text-align: center;
}
.detail-siwpe .contents .text a {
	color: #3498db;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.detail-siwpe .contents .text a:hover {
	text-decoration: underline;
}
.fa-pause {
	color: #ccc;
}
.images-wrapper.pages {
	position: relative;
}
.forimage {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}
.detail-siwpe .images-wrapper img {
	display: inline-block;
	width: 100%;
}
.detail-siwpe .images-wrapper iframe {
	width: 100%;
	height: 480px;
}
.re-reply-inputer {
	margin-top: 5px;
}
.down-container .reply-list .reply-unit-con {
  position: relative;
}
.down-container .cancle-wrap {
  position: absolute;
  top: 0px;
  right: 10px;
}
.down-container .reply-con  .cancle {
  float: right;
  color:#aaa;
}
.detailpage-body .header .menu {
	display: none;
}
.reply-li .name {
	cursor: pointer;
}
#writer-otherzzal{
	width: 100px;
}
.zzal-lect-info li .left-1st {
	margin-right: 3px;
}
.zzal-lect-info li .left-width {
	width: 60px;
} 
.zzal-caterogy {
  font-size: 14px;
  margin-bottom: 5px;
}
#main-date {
	margin-right: 5px;
}
.zzal-lect-info .zzalwriternick {
	color: #5656b1;
}
.detail-page-swipe .contents .type-main{
  height: 93vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.nav,
.nav.sliding {
	display: none;
}
.main-content {
	background: #fbfbfb;
}
.upper-contaniner {
	padding: 10px 10px 0 10px;
}
.detail-main .main-content .zzal-container {
	/* height: 100vh; */
	padding: 0;
	padding-top: 66px;
	background: white;
	box-shadow: 10px 0px 30px rgba(0,0,0,0.05), -10px 0px 30px rgba(0,0,0,0.05);
}
.detail-siwpe .images-wrapper {
	width: 100%;
  max-height: calc(100vh - 250px);
  overflow: hidden;
}
.detail-siwpe .text {
	/* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  padding: 0 10px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0,0,0,0.45);
}
.mCSB_inside > .mCSB_container {
	margin-right: 18px;
}
/* .swiper-slide .contents {
  height: calc(100vh - 235px);
  overflow: hidden;
} */
.main-page .main-content.sliding {
	margin-left: 0;
}
/* .detail-main .zzal-container {
 padding: 0 0;
 max-height: 900px;
} */
/* .detail-left .left-upper-menu .upper-upper .bigboy:hover, .detail-left .left-upper-menu .upper-upper .bigboy:active{
  font-size: 220%;
  color: rgb(51,51,51);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} */
.left-upper-menu li {
  height:70px;
}
.left-upper-menu li .bigboy {
  height:30px;
}
#like-btn .off-btn{
  display: none
}
#like-btn .fa.fa-heart {
  color : red;
}
#m-subscribe-btn .off-btn{
  display: none
}
#subscribe-btn .off-btn{
  display:none
}
#play-btn .off-btn{
  display:none
}
#m-play-btn .off-btn{
  display:none
}
.auto-play .bigboy {
	font-size: 35px;
  width: 37px;
}
.swiper-button-prev.swiper-button-disabled {
   opacity: .1;
}
.detail-siwpe .detail-page-swipe .swiper-slide {
   border: 0;
   text-align: center;
}
.swiper-slide.main {
   background-repeat: no-repeat;
   background-position: center;
}
 .detail-page-swip .content-box .text {
   padding-bottom: 20px;
 }
 .other-title {
		position: absolute;
		color: white;
		bottom: 0px;
		font-size: 14px;
		background: rgba(0,0,0,0.5);
		padding: 5px;
		width: 100%;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	}
 .images-wrapper {
   position: relative;
   overflow: hidden;
 }
 .user-lects-units .images-wrapper {
   height: 143px; 
 }
 .swiper-pagination {
   color: #ccc;
   padding-left: 15px;
   text-align: left;
 }
 .user-lects-units .images-wrapper img{
   width: 140%;
   transform: translateX(-15%);
 }
 .detail-left{
   text-align: center;
 }
.thumbnail-phot-insert {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  display: inline-block;
  border-radius:50%;
}
.detail-page-swipe .contents .type-main .title-info {
  color: #fff;
  position:absolute;
  top:57%;
  text-align: left;
  width: 97%;
  padding: 12px 20px;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.detail-page-swipe .contents .type-main .write-date {
  font-size: 14px;
}
.write-date .date-num {
  margin-right: 3px;
}
.detail-page-swipe .contents .type-main .mover-mover {
  font-size: 14px;
  margin-top: 40px;
  color: rgba(255,255,255,0.7);
}
.detail-page-swipe .zzal-title{
  font-size: 1.625rem;
  margin: 5px 0 5px -5px;
  color: #f8e8b6;
}
.detail-page-swipe .contents .type-main  .left-info {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.detail-page-swipe .contents .type-main  .left-info .lect-user-phot{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.2);
}
.detail-page-swipe .contents .type-main  .left-info .zzal-lect-info{
  margin-left: 10px;
}
.detail-page-swipe .contents .type-main  .left-info .zzal-lect-info li {
  font-size: 13px;
  border: none;
}
.lects-units-sliders .swiper-container.lects-units {
  width: 100%;
  height: 100%;
}

@media (min-width: 926px) { 
	.sns-links {
	  position: absolute;
	  bottom: 50px;
	  width: 100%;
	}
  .detailpage-body {
    overflow: hidden;
  }
  .detail-main .main-content{
    margin-top: 0px;
  }
  .web-swiper-smallbtn{
	  height: 26px;
	 }
  .detail-m-header {
    display: none;
  }
  .detail-m-footer {
    display: none;
  }
  .detail-main #header .swiper-container.swiper-container-horizontal {
    display: none;
  }
  .detail-main .zzal-container {
    max-width: 1272px;
    position: relative;
  }
  .detail-main .detail-funcbtn{
    font-size: 26px;
    position: absolute;
    top: 30px;
    z-index: 10000;
    right: 345px;
  }
  .detail-main .detail-siwpe.swiper-container{
     /* margin-left: 11%;
     width: 58.5%; */
     height: calc(100vh - 66px);
   }
   .detail-left .upper-upper {
     color: gray;
     margin: 30px 0;
   }
   .hoverbig {
     cursor: pointer;
     transition: .1s ease-in-out;
   }
   .hoverbig:hover {
     -ms-transform: scale(1.2,1.2); /* IE 9 */
	    -webkit-transform: scale(1.2,1.2); /* Safari */
	    transform: scale(1.2,1.2); /* Standard syntax */
   }
   .detail-left .upper-upper .bigboy{
     font-size: 35px;
     width: 50px;
     height: 45px;
     padding: 5px;
   }
   .detail-left .upper-upper .smallboy{
     font-size: 16px;
   }
   .detail-left .left-down-menu {
     padding-top: 60px;
   }
   .detail-left .left-down-menu .down-down {
     padding: 20px 0;
   }
   .detail-left .left-down-menu .down-down img{
   	 width: 25px;
     height: 25px;
   }
  .detail-left .left-down-menu .comuni {
    font-size: 20px;
    margin: 0;
  }

  .detail-left .left-down-menu .comuni.fa-twitter{
    color: #3498db;
  }
	.detail-left .left-down-menu .comuni.fa-facebook {
	color: #3b5998;

	}
  .detail-right .left-info {
    float: left;
  }
  .left-info .lect-user-phot{
    float: left;
  }
  .left-info .zzal-lect-info{
    float: left;
    margin-left: 10px;
  }
  .left-info .zzal-lect-info li{
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    height: 21px;
    line-height: 21px;
  }
  .left-info .zzal-lect-info li:first-child {
    font-size: 14px;
  }
  .zzal-lect-info li .left-1st {
    float:left;
  }
  .zzal-lect-info li .left-1st.reply {
    text-align: justify;
  }
  .detail-right .write-date {
    position: absolute;
    right:0;
    font-size: 14px;
  }
  .detail-right .lect-user-phot {
    width: 60px;
    height: 60px;
    /* background-image: url('../image/ohh.jpg'); */
    border: 1px solid #ccc;
  }
  .upper-contaniner .user-lect-info {
    height: 80px;
    margin-bottom: 20px;
    position: relative;
  }
  .upper-contaniner .user-lects-units{
    margin-top: 15px;
    height: 186px;
    width:100%;
  }
  .upper-contaniner .user-lects-units .other-lects{
    display: inline-block;
    font-size: 14px;
  }
  .upper-contaniner .user-lects-units .more-view {
    float: right;
    font-size: 12px;
    line-height: 28px;
  }
  .user-lects-units .more-view .fa {
    margin-left: 3px;
  }
  .upper-contaniner .user-lects-units .lects-units-sliders {
    height: 143px;
    width: 100%;
    margin-top: 10px;
  }
  .down-container .reply-inputer {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-top: 3px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .down-container .reply-inputer .user-phot {
    width: 50px;
    height: 50px;
    float: left;
    background-image: url('../image/user.jpg');
  }
  .down-container .reply-inputer .input-con {
    width: 82%;
    float:right;
  }
  .down-container .reply-inputer .input-con .inputer{
    float: left;
    width: 100%;
  }
  .down-container .reply-inputer .input-con .inputer .input-reply{
    width: 85%;
  }
  .down-container .reply-inputer .input-con .inputer .input-reply,.submit-reply{
    border: 1px solid #ccc;
    float:left;
    padding: 5px;
    margin-top: 3px;
    height: 30px;
  }
  .down-container .reply-inputer .input-con .user-name {
    font-size: 14px;
  }
  .down-container .reply-list {
    border-top: #ccc solid 1px;
    /* border-bottom: #ccc solid 1px; */
    width:100%;
  }
  .down-container .reply-list .replycnt {
    padding: 10px;
  }
  .down-container li {
    min-height: auto;
  }
  .down-container .reply-user-phot {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px 0 0 5px;
    float: left;
    background-image: url('../image/user.jpg');
  }
  .down-container .reply-list .reply-unit-con {
    border: 1px solid #ccc;
  }
  .down-container .reply-con {
    margin-left: 50px;
    line-height: 25px;
    width:80%;
  }
  .down-container .reply-con .user-name {
    display: inline-block;
    padding-top: 10px;
    color:#5656b1;
    font-size: 14px;
  }
  
  .down-container .reply-con .reply-text {
    border: 1px solid #ccc;
    margin: 5px 3px 5px 6px;
  }
  .down-container .reply-info {
    border-top: 1px solid #ccc;
  }
  .down-container .reply-info div{
    display: inline-block;
    font-size: 14px;
  }
  .down-container .reply-info .date span {
    margin: 0 5px;
  }
  .down-container .reply-info .press .like,.added-reply {
    margin-right: 10px;
  }
  .down-container .reply-info .date {
    float : left;
  }
  .down-container .reply-info .press {
    float : right;
  }
  .detail-left {
    position: relative;
    float:left;
    border-right:solid 1px #ccc;
    width: 100px;
    height: calc(100vh - 66px);
  }
  .detail-right {
   /*  overflow-y: auto; */
    float:right;
    border-left:solid 1px #ccc;
    width: 300px;
    height: calc(100vh - 66px);
  }
  .detail-page-swipe .contents .type-main{
    height: 93vh;
    /* background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../image/ohh.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .detail-page-swipe .last-user-reply {
    display:none;
  }
}

@media (max-width: 925px) {
	.zzal-collection .title {
	  color: #c3c3e3;
	}
	.swiper-pagination {
    position: fixed;
    bottom: 10px;
	}
	.set-time {
	  float: right;
	  margin-top: 10px;
	}
	.settime-sec {
	  background: rgba(255,255,255,0.3);
	  color: white;
	}
	.detail-siwpe .images-wrapper {
	  max-height: calc(100vmax - 280px);
	}
	.detail-siwpe .images-wrapper iframe {
		height: calc(100vmax - 250px);
	}
	.zzal-lect-info .zzalwriternick {
		color: #c3c3e3;
	}
	.detail-page-swipe .zzal-title {
	  margin: 5px 0;
	}
	.detail-m-header h1 {
	  font-family: 'Arial', sans-serif;
	  padding: 5px;
	  font-size: 1.25rem;
	  margin: 8px 5px;
	}
	.detail-page-swipe .contents .type-main {
	  height: 100vmax;
	}
	.main-content {
	  padding-bottom: 0;
	}
	.detail-main .main-content .zzal-container {
	  padding: 0;
	  background: #333;
	}
	.detail-page-swipe .contents .type-main .title-info {
	  top: 30%;
	  padding: 12px 10px;
	}
  .web-swiper-btn, .web-swiper-smallbtn{
    visibility: hidden;
  }
  .detail-m-header {
 		width:100%;
    color: #fff;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.1), 1px -1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
    position: fixed;
    z-index: 10000;
    height: 53px;
  }
  .detail-m-header h1{
  	display:inline-block;
  }
  .detail-m-header .header-right {
  	float:right;
  }
  .detail-m-header .header-right .upper-right{
	  font-size: 40px;
	  float:right;
	  margin:0 10px;
  }
  .detail-main.main-content{
    position: relative;
  }
  .detail-main .main-content {
    margin-top: 0;
  }
  .detail-main #header,.detail-funcbtn{
    display: none;
  }
  .detail-main #header .swiper-container.swiper-container-horizontal {
    display: none;
  }
  .detail-main .zzal-container {
    padding: 0;
    color:rgb(255, 255, 255);
  }
  .detail-main .detail-left {
    display: none;
  }
  .detail-main .detail-right {
    display: none;
  }
  .detail-page-swipe .content-box {
    max-height: calc(100vmax - 250px);
    margin: 0 auto;
    width: 100%;
  }
  .detail-main .footer {
    display: none;
  }
  .detail-main .sw-contents .contents{
    position:relative;
  }
  .detail-main .sw-contents .type-contents {
    padding-top: 53px;
    width: 100%;
  }
  .detail-m-footer {
  	font-family: 'Arial', sans-serif;
    position: fixed;
    z-index: 100000;
    color:#fff;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.1), 1px -1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.2);
    bottom:0;
    width:100%;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 5px;
  }
  .detail-m-footer .mdetail-footer .mfooter{
    display:inline-block;
  }
  .detail-m-footer .mdetail-footer span {
    margin: 0 5px;
  }
  .swiper-slide.last-user-reply .last-user-page.contents {
    background-color: #333;
    height: calc(100vmax - 50px);
    padding-top: 38px;
    padding-bottom: 50px;
  }
  .last-user-reply .last-user-page .loca{
    /* position: absolute; */
    width: 100%;
    top: 30px;
  }
  .last-user-page .loca .upper-contaniner{
    padding-top: 10px;
    padding: 0 10px;
    position: relative;
  }
  .last-user-page .loca .upper-contaniner .left-info {
    float: left;
    font-size: 13px;
  }
  .left-info .lect-user-phot{
    float: left;
  }
  .left-info .zzal-lect-info{
    float: left;
  }
  .left-info .zzal-lect-info li{
    border-bottom: 1px solid #ccc;
    height: 21px;
  }
  .zzal-lect-info li .left-1st {
    float:left;
    text-align: justify;
  }
  .zzal-lect-info li .left-1st.reply {
    text-align: justify;
  }
  .last-user-page .loca .upper-contaniner .write-date {
    float: right;
    font-size: 14px;
  }
  .last-user-page .loca .upper-contaniner .lect-user-phot {

    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-right: 5px;
    background-image: url('../image/ohh.jpg');
  }
  .upper-contaniner .user-lect-info {
    height: 100px;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  .upper-contaniner .user-lects-units{
    margin-top: 2px;
    width:100%;
    padding: 10px 0;
  }
  .upper-contaniner .user-lects-units .title {
    text-align: left;
    font-size: 16px;
  }
  .upper-contaniner .user-lects-units .other-lects{
    display: inline-block;
  }
  .upper-contaniner .user-lects-units .more-view {
    float: right;
    font-size: 14px;
  }
  .upper-contaniner .more-view .fa {
    margin-left: 3px;
  }
  .upper-contaniner .user-lects-units .lects-units-sliders {
    height: 142px;
    width: 100%;
    margin-top: 10px;
  }
  .down-container .reply-inputer {
    width: 100%;
    height: 80px;
    border-top: 3px solid #999;
    border-bottom: 1px solid #999;
  }
  .down-container .reply-inputer .user-phot {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px 0 0 10px;
    float: left;
    background-image: url('../image/user.jpg');
  }
  .down-container .reply-inputer .input-con {
    margin: 10px 5px;
    width: calc(100% - 70px);
    height: 60px;
  }
  .down-container .reply-inputer .input-con .inputer{
    float: left;
    width: 100%;
  }
  .down-container .reply-inputer .input-con .inputer .input-reply{
    width:calc(100% - 55px);
  }
  .down-container .reply-inputer .input-con .inputer .input-reply,.submit-reply{
    border: 1px solid #999;
    margin-left: 5px;
    float:left;
    padding: 5px;
    height: 30px;
  }
  .submit-reply {
    background: #eee;
  }
  .down-container .reply-inputer .input-con .user-name {
    text-align: left;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .down-container .reply-list {
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    width:100%;
  }
  .down-container .reply-list .replycnt {
    text-align: left;
    padding: 10px;
  }
  .down-container li {
    min-height: auto;
  }
  .down-container .reply-user-phot {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px 0 0 5px;
    float: left;
    background-image: url('../image/user.jpg');
  }
  .down-container .reply-con {
    margin-left: 50px;
    line-height: 25px;
    width: calc(100% - 55px);
  }
  .down-container .reply-con .user-name {
    text-align: left;
    padding-top: 10px;
    color:#c3c3e3;
    font-size: 14px;
  }
  .down-container .reply-con .reply-text {
    border: 1px solid #ccc;
    text-align: left;
    margin: 5px 3px 5px 5px;
  }
  .down-container .reply-info {
    border-top: 1px solid #ccc;
  }
  .down-container .reply-info div{
    display: inline-block;
    font-size: 14px;
  }
  .down-container .reply-info .date span {
    margin: 0 5px;
  }
  .down-container .reply-info .press .like,.added-reply {
    margin: 0 5px;
  }
  .down-container .reply-info .date {
    float : left;
  }
  .down-container .reply-info .press {
    float : right;
  }
}

