 @CHARSET "UTF-8";
 
/*  .redPlaceHolder::-webkit-input-placeholder {
    color: #ff0000
} */

.form-group .input-login {
	width:50%;
	outline: none;
}

.form-group #join-pw.input-login {
  width:32%;
  outline: none;
}

.form-group #join-pw-re.input-login {
  width:32%;
  outline: none;
}

.login-normal .input-wrong {
	  line-height: 3.1;
    float: right;
    font-size: 0.8rem;
    color: red;
}

.login-normal .input-wrong.wrong-agree {
	line-height: 1.5;
}

/*
.login-curtain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.70;
	background-color: black;
	z-index: 1000;
	display: none;
}

.login-container {
	z-index: 2000;
	width: 95%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.login-logo {
	display:none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin-top: 55px;
	font-size: 40px;
	color: white;
	font-family: 'Arial', sans-serif;
}

.mini-logo {
	display:none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	font-size: 15px;
}

.login-form {
	height: 77vmax;
	position: relative; margin-top : 25px;
	padding: 30px 15px;
	border-radius: 2%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10002;
	margin-top: 25px;
	    dispaly: none;
      opacity: 0.90;
}

.login-sns {
	
}

.sns-btn-group {
	margin-top: 10px;
}

.sns-btns {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 56px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 36px;
	position: relative;
	border-radius: 4px;
	cursor: pointer;
}

.fcbk-btn {
	font-family: 'Arial', sans-serif;
	background-color: #365ba2;
	text-align: center;
	padding-left: 13px;
	width: 49%;
}

.fcbk-btn:hover {
	color: white;
}

.fa-facebook {
	margin-right: 10px;
}

.goog-btn {
	font-family: 'Arial', sans-serif;
	background-color: #d74d3b;
	text-align: center;
	padding-left: 16px;
	width: 49%;
	float: right;
	display: inline-block;
}

.fa-google {
	margin-right: 10px;
}

.goog-btn:hover {
	color: white;
}

.method1 {
	font-size: 1.25rem;
}

.close-btn {
	font-size: 35px;
	position: absolute;
	top: -2px;
	right: 10px;
	color: #b2b2b2;
	cursor: pointer;
	
}

.login-normal {
	margin-top: 28px;
}

.method2 {
	display: block;
	font-size: 1.25rem;
}

.method3 {
  display: block;
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom:6px;
}

.termsofuse {
	width:100%;
	margin-top: 5px;
}


.form-group {
	border-bottom: 1px solid #c4c5c4;
	margin-bottom: 11px;
}

.form-group3 {
 
 }

.email {
	display: block;
	width: 90%;
	font-size =1.0rem;
}

.input-login {
	width: 100%;
	height: 40px;
	border: none;
	padding-left: 7px;
	background: 0 0;
}

.pwd {
	display: block;
	margin-top: 13px;
}

.confirm_password {
	display: inline-block;
}

.agreement {
	display: inline-block;
}

.checkbox {
	display: block;
	float: left;
}

.remember-find {
	width: 100%; 
	float: left;
	margin-bottom: 32px;
}

.rememberId {
	font-size: 14px;
	display: block;
	float: left;
}

.findId {
	float: right;
	cursor: pointer;
	font-size: 14px;
}

.loginBtn {
	display: block;
	position: relative;
	width: 100%;
	background: #00a1ff;
	border: none;
	line-height: 40px;
	color: white;
	font-size: 17px;
	border-radius: 4px;
}

.bottom-div {
	position: absolute;
	bottom: 7%;
	width: 94%
	
}

.sign-div {
	margin-top: 13px;
	padding: 0px 30px 0px 30px;
}

.is-visit-first {
	display: block;
	float: left;
	font-size: 14px;
}

.sign-in {
	display: block;
	float: right;
	cursor: pointer;
	font-size: 14px;
}

.find-div {
	padding: 0px 5px 0px 5px;
}

.question-pwd {
	display: block;
	float: left;
}


.signup-container {
	display : none; 
	z-index: 2000;
  width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}


desktop
@media ( min-width : 766px) {
	.login-container {
		width: 515px;
	}
	
	.signup-container {
	 width:515px;
	}
	
	.login-logo {
  display:block;
}

  .mini-logo {
  display:block;
}
} */