.main-content.mypage {
	margin-top: 85px;
	background: #f9f9f9;
}
.main-content.mypage .top {
	background: white;
	padding-bottom: 20px;
}
.user-info-face {
	float: left;
}
/* .user-info-face .phot {
  float: left;
  display: inline-block;
  background-image: url('../image/user.jpg');
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}
.user-info-face .user-name {
	float: left;
  line-height: 75px;
  margin-left: 12px;
} */
.user-info-face .setting-wrap {
	font-size: 0.875rem;
	margin-top: 10px;
}
.user-info-face .setting-wrap .fa {
	font-size: 1rem;
}
.setting-wrap .setting {
	margin-right: 10px;
}
.users-info-box {
  height: 80px;
  float: right;
}
.users-info-box .user-border div{
  border-bottom: solid 1px #ccc;
  padding: 3px;
}
.border-text {
  font-size:  14px;
}
.user-border .border-text .name {
  padding-right: 22px;
}
.user-border .border-text .num {
  float: right;
}
.mypage_mid {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: white;
	padding: 0 10px;
	font-size: 1.125rem;
}
.mypage_mid li {
	float: left;
	position: relative;
	border-right: 1px solid #eee;
}
.mypage_mid li:last-child {
	border-right: none;
}
.mypage_mid .menu {
	display: inline-block;
	/* margin-right: 25px; */
}
.mypage_mid .menu a {
	display: inline-block;
	padding: 10px 20px;
}
.mypage_mid .menu:last-child {
	margin-right: 0;
}
.mypage_mid .menu:last-child::after {
	background: none;
}
.mypage_mid .menu.on {
	color: #F39C12;
	font-weight: bold;
}
/* .mypage_bottom {
	background: #f3f3f3;
} */
.mypage_bottom .zzal-menu {
	width: 100%;
	border-bottom: 2px solid #ddd;
	margin-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}
.mypage_bottom .zzal-menu li {
	float: left;
	width: 150px;
}
.mypage_bottom .zzal-menu a {
	display: inline-block;
	width: 100%;
	padding: 10px 25px;
	/* border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
}
.mypage_bottom .zzal-menu .on {
	border-bottom: 3px solid #ec3c10;
	font-weight: bold;
}
.zzal-category .zzal-con {
	margin-top: 15px;
}
.zzal-collection .collections {
	width: 100%;
}
.zzal-collection .collections li {
	float: left;
	width: 50%;
	padding: 5px;
	margin-bottom: 10px;
}
.zzal-collection .img {
  float: left;
  position: relative;
  background-image: url(../image/zzal03.jpg);
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}
.zzal-collection .add .img::after {
  content: "\f055"; 
  position: absolute;
  font-family: FontAwesome;
  font-size: 2rem;
  top: 35px;
  left: 35px;
  color: #aaa;
}
.zzal-collection .add .img:hover::after {
	color: #F39C12;
}
.zzal-collection .right {
	float: left;
	width: calc(100% - 120px);
}
.zzal-collection .title {
	display: inline-block;
	margin-bottom: 5px;
	width: 100%;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.zzal-collection .add .right {
	line-height: 100px;
}
.zzal-collection .add .img {
	background: #eee;
}
.zzal-collection .sfont {
	display: block;
	font-size: 0.8125rem;
	margin-bottom: 2px;
}
.zzal-collection .btn {
	margin-top: 2px;
}

/*someone.css*/
.profile-wrap.someone {
	margin-top: 18px;
}
.mypage_mid.space {
	margin-bottom: 20px;
}
.users-info-paper {
	height: 80px;
	float: right;
}
.users-info-paper .user-border div{
	border-bottom: solid 1px #ccc;
	padding: 3px;
}

/*desktop*/
@media (min-width: 766px) {
}

/*mobile*/
@media (max-width: 765px) {
	.main-content.mypage {
    margin-top: 65px;
	}
	.main-content .top {
    padding: 0 10px;
    margin: 0;
	}
	.zzal-container {
    padding: 0 5px;
    /* text-align: center; */
	}
	.users-info-box .user-border {
	  display: none;
	}
	.user-info-face {
	  float: none;
	} 
	.main-content.mypage .top {
	  padding-bottom: 10px;
	}
	.setting-wrap .setting {
	  display: block;
	  margin: 5px 0 10px;
	}
	.profile-wrap {
	  float: left;
	}
	.user-info-face .setting-wrap {
	  float: right;
	}
	.mypage_mid {
    padding: 0;
    font-size: 1rem;
	}
	.mypage_mid .zzal-container {
	  padding: 0;
	}
	.mypage_mid li {
		width: 32%;
		text-align: center;
	}	
	.mypage_mid li:last-child {
	 width: 34%;
	}
	.mypage_mid .menu a {
	  display: inline-block;
	  width: 100%;
		padding: 10px 0px;
	}
	.mypage_bottom .zzal-menu {
    margin-bottom: 5px;
    padding-top: 5px;
	}
	.zzal-collection .collections li {
	  width: 100%;
	}
	.mypage_bottom .zzal-menu li {
		width: 50%;
	}
	
	/*someone.css*/
	.profile-wrap.someone {
		margin-top: 0px;
	}
	.mypage_mid.space li {
		width: 50%;
		text-align: center;
	}
	.users-info-paper .user-border div{
	  	border-bottom: solid 1px #ccc;
	  	padding: 0;
	}
}

.main-content.mypage .btn {
	min-width: 70px;
}
