#header .swiper-container {
	display: none;
}
 .main-content {
  margin-top: 0;
  padding-bottom: 0;
}
 .main-content.changepage {
	padding-bottom: 20px;
}
 .profile-photo-change {
	margin: 0 0 20px 30%;
}
 .profile-photo-change .profile-picture {
	margin-top: 100px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.1);
}
 .change-photo {
	 cursor: pointer;
	 font-weight: bold;
	 position: absolute;
	 top: 129px;
	 margin: 10px;
 }
 .change-photo .fa {
   font-size: 22px;
   vertical-align: bottom;
   color: rgba(0,0,0,0.3);
 }
 .zzal-container.middle .profile-changepage {
 	position: relative;
  margin-top: 66px;
}
 .profile-change {
	margin-top: 50px;
}
 .input-change {
   font-size: 1.5rem;
 }
 .input-form {
   border-bottom: 1px solid lightgray;
   margin: 20px 0;
   margin-bottom: 30px;
 }
 .profile-input-name {
   width: 100%;
   height: 40px;
   border: none;
   font-size: 1rem;
   padding: 3px;
   margin-top: 10px;
 }
 .change-button .btn {
   width: 200px;
   height: 50px;
   font-size: 1.375rem;
   margin-right: 5px;
 }
 .memberPhoto-upload-btn {
       cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 129px;
    margin: 10px;
    opacity: 0;
    
 }
 .deletebtn .account-delete {
	 float: left;
	 color: #F39C12;
   margin-bottom: 25px;
	 font-size: 1rem;
 }
 .change-button {
   text-align: right;
 }
 .change-button .btn {
   display: inline-block;
 }
/*mobile*/
@media (max-width: 765px) {
	.profile-photo-change .profile-picture {
    margin-top: 78px;
	}
	.header.change-header .right {
	  display: none;
	}
	.header .page-right {
	  display: inline-block;
	  float: right;
	}
	.header .page-right .title {
	  font-size: 1.125rem;
	  float: left;
	  line-height: 49px;
	}
	.header .page-right a {
	  display: inline-block;
	  padding: 0 5px;
	  margin-left: 5px;
	}
	.header .page-right .fa {
	  font-size: 1.875rem;
	  line-height: 49px;
	}
	.mobile-nav {
		display: none;
	}
	.profile-change {
    margin-top: 0;
	}
	.input-change {
	  font-size: 1.375rem;
	}
	.change-button {
    text-align: center;
	}
	.change-button .btn {
    display: inline-block;
    width: 49%;
	  font-size: 1.125rem;
    margin-right: 0;
	}
	.profile-photo-change {
    margin: 0 0 20px 10%;
	}
}
