/* reply.css 는 detailpage.css 를 수정하는 녀석입니다*/

.down-container .reply-inputer .user-phot {
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 10px 0 0 10px;
	float: left;
	background-image: url('../image/anonymous.png');
}

.down-container .reply-inputer .input-con {
	float: right;
  margin: 22px 5px 10px 5px;
  width : 76%;
}

.zzal-container .detail-right {
	width: 340px;
}

.zzal-container .detail-funcbtn {
	right:360px;
}

.reply-unit-con .reply-con .user-name {
	margin-left:7px;
}

.reply-list .reply-unit-con .reply-user-phot {
	margin : 18px 0px 0px 7px;
}

.re-reply-inputer .user-phot {
	width: 30px;
	height : 30px;
	float : left;
	margin-left: 25px;
  margin-right: 13px;
}

.reply-unit-con .re-reply-inputer {
  margin-top:9px;
}

 .input-con .inputer {
	margin-right :3px;
	width : 73%:
} 

.input-con .inputer .submit-re-reply {
	float: right;
}

.input-con .inputer .input-reply {
	width : 159px;
}

.cancle-re-reply {
	float : right;
}

.down-container .reply-info .date span {
	margin-left: 0px;
  margin-right: 0px;
}

.down-container .reply-info .date {
	margin-left: 8px;
}

.down-container .reply-list .re-reply-con  {
	padding-left: 35px;
}

.down-container .reply-con .reply-text {
	 border : none;
	}
	
.down-container .reply-list .reply-unit-con {
	border : none;
	padding-bottom: 10px;
}

.down-container .reply-info {
	border-top : none;
	border-bottom: 1px solid #ccc;
}

.down-container .reply-con {
	line-height :20px;
}

.down-container .reply-con  .cancle {
	 margin-top: 10px;
}

textarea.input-re-reply {
	width: 170px;
	float: left;
}