input:-ms-input-placeholder { color: #ccc; }
input::-webkit-input-placeholder { color: #ccc; }
input::-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }
::-webkit-input-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }

.sweet-alert {
  width: 486px;
  margin-left: -243px;
}

.write-mask {
  position:absolute;
  left:0;
  top:0;
  z-index:900;
  background-color:#000;
  display:none;

}
.write-mask .fake-dvd{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 670px;
  height: 370px;
  background-color: #eee;
}

.url-inputer {
 display: none;

	background-color: #fbfbfb;
  z-index: 1000;
  text-align: center;
  width: 100%;
	position: absolute;
	height: 90px;
	top:45%;
}

.inner-con{
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.center-con {
	position: relative;
  height: 60px;
	width: 100%;
  padding: 0 20px;
}
.center-con .input-con{
	height: 55px;
	line-height: 55px;
	width: 100%;
	position: relative;
	margin: auto;
  display: inline-block;
}
.bottom-btns {
	height: 55px;
  line-height: 55px;
}

.center-con .input-con .input-loca{
	display: inline-block;
	position: absolute;
	left: 0px;
	width:100%;
}

.center-con .youtub{
	left: 0px;
  position: absolute;
	display: inline-block;
	font-size: 40px;
}
.url-inputer .center-con .input-con .input-loca > input{
	display: inline-block;
  outline-style: none;
	padding: 5px;
	font-size: 22px;
	color: #333;
	border: none;
	background: none;
	border: none;
	height: 35px;
	width: 95%;
	position: absolute;
  top: 15px;
  left: 35px;
	padding: 0 0 0 5px;
}


 .center-con .input-con .veido-check-btn {
	 width: 50px;
	 display: inline-block;
	 position: absolute;
	 right: 0px;
	 margin-top: 7px;
}

.url-inputer .center-con .url-btns{
	display: inline-block;
	position: absolute;
	top: 25px;
}

.url-inputer .center-con .url-btns div {
	display: inline-block;
}


/* .url-inputer .center-con .veido-check-btn:hover,.url-inputer .center-con .veido-check-btn:active{
	font-size: 240%;
  color: rgb(255,0,51);
	margin-bottom: 20px;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} */





.writezzal-header-right {
	text-align: right;
	line-height: 60px;
	max-width: 832px;
  margin: 0 auto;
}
.writezzal-header-right .mobile-btn {
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 1rem;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.05);
}
.writezzal-header-right .btn-cancle {
	background-color: rgba(255,255,255,0.05);
}
.writezzal-header-right .btn-info {
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.19)
}
.main-content {
	margin-top: 0;
	padding-bottom: 0;
	background: #fbfbfb;
}
.main-content .top {
  padding: 0 80px;
}
.writezzal-wrap {
	max-width: 832px;
  margin: 0 auto;
  box-shadow: 10px 0px 30px rgba(0,0,0,0.05), -10px 0px 30px rgba(0,0,0,0.05);
}
.swiper-wrapper {
	max-width: 832px;
  margin: 0 auto;
  height: 100vh;
}
.writezzal-page {
  max-width: 832px;
  margin: 0 auto;
  margin-top: 66px;
  background: white;
  /* height: calc(100vh - 66px);  */
  box-shadow: 10px 0px 30px rgba(0,0,0,0.05), -10px 0px 30px rgba(0,0,0,0.05);
}
.each-page {
  padding-top: 20px;
}
.writezzal-page .top {
	position: relative;
	min-height: 30px;
	padding-top: 20px;
}
.writezzal-page .user-info-face {
	float: left;
}
.writezzal-page .top .selectbox {
	float: right;
	width: 150px;
	height: 30px;
	padding: 0 5px;
	border: 1px solid #ccc;
	color: #999;
	background: white;
	font-size: 0.875rem;
	cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  text-transform: none;
}
.writezzal-page .top .selectbox {
	margin: 5px;
}
.profile-wrap .user-name {
	color: #999;
	font-size: 0.875rem;
}
.img-cover {
	position: relative;
	padding: 0 80px;
}
.img-cover .btns {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
  height: 85px;
	transform: translate(-50%, -50%);
}

.img-cover .sub-btns {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 220px;
  height: 85px;
	transform: translate(-50%, -50%);
}
.img-cover .sub-btns .url-upload {
	display: inline-block;
	position: absolute;
}

/*.img-cover .sub-btns .url-upload .url-inputer{
}*/

.photo-upload-btn {
	left:0;
	position: absolute;
	display: inline-block;
  border-radius: 50px;
  width: 95px;
  height: 95px;
  text-align: center;
  background: red;
  cursor: pointer;
  opacity: 0;
}
.writezzal-img {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: calc(100vh - 420px);
	border: 1px solid #eee;
  background-position: center;
	background-image: url("../image/img-bg1.gif");
	overflow: hidden;
}
.writezzal-img .btns label {
	display: inline-block;
}
.writezzal-cover {
	padding: 10px;
	font-size: 14px;
	height: calc(100vh - 300px);
}
.writezzal-text {
	padding: 0 80px;
}
.represent-photo {
	/*position: absolute;*/
	display: inline-block;
  border-radius: 50px;
  width: 95px;
  height: 95px;
  text-align: center;
  background: #444;
  border: 2px solid rgba(255,255,255,0.3);
}

.writezzal-img .btns a {
  float: left;
}
.represent-photo:first-child {
	margin-right: 10px;
}
.writezzal-cover .btns a:first-child {
	margin-right: 0px;
}
.represent-photo .fa {
  font-size: 2rem;
  color: #fff;
  margin: -4px 0 5px;
}
.represent-photo .text {
  display: block;
  color: #eee;
  font-size: 12px;
}
.writezzal-img img {
	width: 100%;
}
.writezzal-title {
  border-bottom: 1px solid #ccc;
  margin: 15px 80px;
}
.writezzal-title input {
	border: 0;
  resize: none;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.59;
  outline: none;
}
.writezzal-text textarea {
	width: 100%;
	height: 114px;
  line-height: 2;
  font-size: 1rem;
  font-weight: bold;
	border: none;
	resize: none;
	outline: none;
}
.byteCheck {
	text-align: right;
	font-size: 14px;
}
.bottom-menu {
  position: absolute;
  bottom: 0;
	width: 100%;
	height: 57px;
	text-align: center;
	line-height: 42px;
	border-top: 5px solid #eee;
}
.selectpage {
  width: 140px;
  position: relative;
	display: inline-block;
	font-size: 20px;
	margin-right: 10px;
}
.selectpage .page-btn {
	display: inline-block;
  padding: 0 10px;
  color: #999;
  -webkit-text-stroke: 2px #999;
  -webkit-font-smoothing: antialiased;
}
.selectpage .page-btn:hover {
	color: #666;
  -webkit-text-stroke: 2px #666;
}

.swiper-pagination-fraction {
	bottom: -18px;
}
.selectpage .fa {
	/* position: absolute;
	top: 12px; */
	font-size: 20px;
}
.selectpage .plus-btn,
.selectpage .plus-btn .fa  {
	font-size: 14px;
}

@media (min-width : 766px) {
	.selectpage {
	  position: absolute;
	  left: 80px;
	  top: 17px;
    width: 115px;
    font-size: 14px;
    margin-right: 0px;
	}
	.bottom-menu .btns-right {
	  position: absolute;
	  right: 80px;
	  bottom: 17px;
	  z-index: 100;
	}
}

.url-inputer {
   width: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 122px;
   top: 50%;
   border-radius: 5px;
   border: 1px solid rgba(0,0,0,0.2);
}
.veido-check-btn,
.cancle-loca.btn {
	width: 49%;
	height: 45px;
  font-size: 16px;
}

/*mobile*/
@media (max-width : 765px) {
	.url-inputer .center-con .input-con .input-loca > input {
	  font-size: 18px;
	}
	.url-inputer {
	   width: 95%;
	   border-radius
	}
	.center-con {
    padding: 0 10px;
	}
	.bottom-menu {
		height: 97px;
	}
	.swiper-button-next, .swiper-button-prev {
	  background-size: 19px 39px;
	}
	/* .writezzal-text textarea {
    height: 90px;
	} */
	.writezzal-text {
    padding: 0 5px;
	}
	.selectpage {
	 /*  position: absolute;
	  left: 0px; */
    width: 115px;
    font-size: 14px;
    margin-right: 0px;
	}
	.bottom-menu .btns-right {
	  position: absolute;
	  /* right: 10px;
	  bottom: 34px; */
	  width: 100%;
	  z-index: 100;
	}
	.main-content .top {
    padding: 10px 0px 0 0px;
	}
	.writezzal-title {
    margin: 5px;
	}
	.writezzal-header-right {
    line-height: 45px;
	}
	.writezzal-page {
	  margin-top: 50px;
	  height: calc(100vmax - 50px);
	}
	.writezzal-page .user-info-face {
	  display: none;
	}
	.writezzal-cover {
		height: calc(100vmax - 260px);
	}
	.each-page .writezzal-cover {
		height: calc(100vmax - 300px);
	}
	.img-cover {
		padding: 0;
	}
	.selectpage {
	  margin-bottom: 5px;
	}
}
