/*desktop*/
@media (min-width: 766px) {
  .mobile-detail-footer,.write-date,.mmove-arrow,.mobile-header {
    display: none;
  }
}
/*mobile*/
@media (max-width: 765px) {

.mobile-header{
  color: #ffffff;
  position: relative;
}

  .mobile-header .left {
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .mobile-header .mobile-right{
    font-size: 35px;
    margin-right: 10px;
    position: absolute;
    right :0;

  }
  .header .fa-search{
    -webkit-text-stroke : 1px #ffffff;
  }
  .mobile-detail-cover {
    height: 100vmax;

  }
  .mobile-detail-cover .header {
    background-color: transparent;
  }

  .mobile-detail-cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../image/ohh.jpg");
  }

  .mobile-detail-backimage {
    height: 100%;
    position: relative;
    background-color: rgba(51, 51, 51,0.5);
    overflow:hidden;
  }


  .mdetail-footer .mfooter {
    display: inline-block;
    color:#ffffff;
  }
.mfooter .name {
  font-size: 27px;
  margin: 0 2px;
}
  .mfooter .num {
  font-size: 10px;
  margin:0 2px;
  }

  /*.mobile-dis-detailcontents {
    display: none
  }*/

  .mobile-detail-cover .mobile-dis-detailcontents{
  display: none;
  }

  .mobile-main-midbot-con .contents-title.mobile-dis-detailcontents
                          /*.zzal-detail-content-container-footer.mobile-dis-detailcontents*/
                          {
    display: none;
  }

  /*.zzal-detail-content-container .func-button, #imagetest,
                                .content-box, .zzal-detail-content-container-footer{
    display: none;
  }*/

  /*.zzal-detail-content-container .contents-title,.func-button,
                                .content-box{
    display: none;
  }*/

  /*.mobile-main-midbot-con .mobile-dis-detailcontents {
    display: none;
  }*/

  .mobile-right {
    float: right;
  }
  .mobile-right div {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
  }



  /*.zzal-detail-content-container.mobile-main-controller{
    position: absolute;
    top:40%;
  }*/

  .zzal-detail-content-container.mobile-main-controller{
    width:100%;
    position: absolute;
    top:2%;
  }


  .zzal-detail-content-container{
    max-width: 100%;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    color: #ffffff;
  }

  .zzal-detail-content-container h2{
    width: 80%;
    display: inline-block;
  }
  .zzal-detail-content-container .contents-title {
    display: inline-block;
    margin: 0;
  }
  .write-date {
    display: block;
    margin-left: 10px;
  }
  .mmove-arrow {
    margin-left: 20px;
    padding-top: 10px;
    display: block;
    color: rgba(255,255,255, 0.5);
  }
  .mobile-main-midbot-con {
    position:relative;
  }

  .mobile-main-midbot-con .mobile-detail-footer{
    display: inline-block;
    width:100%;
    position: fixed;
    bottom:0;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1000;
  }
  .mobile-main-midbot-con .content-box {
    min-width: 100%;
  }
  /*.mobile-detailpage-mover div{
    display : inline-block;
  }*/


  .mobile-detail-footer .mobile-detailpage-left-footer {
    display: inline-block;
    margin : 0 10px 0 10px;
    float:left;
    line-height: 30px;
    font-size: 28px;
  }
  .mobile-detailpage-left-footer div {
    display: inline-block;
  }


  .mobile-detail-footer .mobile-detailpage-right-footer{
    float:right;
    margin-right: 10px;

  }

 .page-footer a{
    padding: 5px;
  }



  .footer {
    display: none;
  }






}
