.main-content.zzal-detail-page {
  margin-top: 66px;


}
.zzal-container.zzal-lect-detail {
  padding: 0;
}
.zzal-container .zzal-lect-detail-con {
  /*border: solid 1px red;*/
  position: relative;
  max-width: 1150px;
  min-height: 600px;
  /*요기는 상의*/
  margin: 0 auto;
}

/* 좌측 유저인포 */
.zzal-lect-detail-con .left-func-menu {
  height: 100vh;
  width: 80px;
  padding-top: 20px;
  vertical-align: center;
  text-align: center;
  font-size: 2.1875rem;
  /*position: absolute;*/
  /*left: 0;*/
  float: left;
  border-right: solid 1px #ccc;
}


.left-upper-menu .navinfo {
  text-align: center;
  font-size: 1.25rem;
}
.left-upper-menu .navinfo-four {
  font-size: 1rem;
}

.left-func-menu .left-down-menu {
  padding-top: 40%;
}
.left-down-menu .comui{
 font-size: 1.25rem;
  /*padding: 80% 0;*/
  color: #3498db;
}
/* 좌측 유저인포 */


/* 우측 상단 유저인포 */
.lect-right-info-detail {
  height: 100vh;
  float: right;
  width : 265px;
  border-left: solid 1px #ccc;
  margin: 0;
}
.lect-right-info-detail .upper-info {
  height:282px;
  border-bottom: solid 1px #ccc;
}
.lect-right-info-detail .comment-list{
    height: 50%;
}


.upper-info {
  position: relative;


}

.user-phot {

  margin-top: 20px;
  margin-left: 10px;
}


.photo-insert {
  border: red solid 1px;
  display: inline-block;
  border-radius:50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.upper-info .user-phot-posi {

  float:left;
  width:50px;
  height:50px;
  background-image: url("../image/sul.jpg");


}

.upper-info .user-lect-info {
  margin-left: 10px;
  float: left;

}
.user-lect-info .users-info-list {
font-size:0.875rem;
}
/*.users-info-list .name {
  padding-left: 5px;
  padding-right: 10px;
}*/

.name-comui{
    border-left:  solid 1px #ccc;
}
.viewpoints .view-name {
  float : left;

}
.viewpoints .num{
  padding-left: 10px;
}
.like-comment {
  float: right;
}
.like-comment .lnum {
  padding-left: 5px;
}

.lect-write-date {
  position: absolute;
  right:0px;
  font-size: 0.875rem;
}

.lect-write-date .date {
  margin-left: 15px;
}

.lect-write-date .name {
  margin-left: 1px;
}
/* 우측 상단 유저인포 */

/* 우측 상단 섬네일 */

.users-lect-list-sumnail {

  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;

}

.more-viewing {
  border-left: solid 1px #ccc;
  float:right;
}

.users-lect-list-sumnail .phrase{
  padding-left:10px;

}
.users-lect-list-sumnail .lect-sumnail {
  border: solid red 1px;


}

.lect-sumnail-units{
  height:100px;
  padding-left: 15px;
  text-align: center;
  line-height: 100px;
}

.lect-sumnail-unit {
  /*낸주에 li로 함 작업 해보장*/
  margin: 0 5px;
  float:left;
  border: solid red 1px;
  background-color: #eee;
  display: inline-block;
  height: 100%;
  width : 28%;
}
.users-lect-list-sumnail-title {
  /*background-color: #eee;*/

  padding-bottom: 10px;
}


.lect-sumnail-units .zzal-lects02 li {
  float: left;
  display: inline-block;
  width: 25%;
  padding: 5px;
}
.lect-sumnail-units .zzal-lects02 .zzal-lect {
	padding-bottom: 87%;
	overflow: hidden;
	border: none;
}
.lect-sumnail-units .zzal-lects02 .zzal-lect .zzal {
	margin-top: 0px;
}
.lect-sumnail-units .zzal-lects02 .bottom {
	height: 61px;
	background: white;
	padding: 5px 0;
	width: 100%;
}
.lect-sumnail-units .zzal-lects02 .title {
	font-size: 1rem;
	line-height: 1.5;
}

/* 우측 상단 섬네일 */



/* 우측 하단 코멘트*/
/*우측 입력 헤더*/

.comment-list .inlect-header {
  height : 60px;
  width: 100%;
  position: relative;
  line-height:60px;
  border-bottom: 1px solid  #ccc;
}

.comment-list .user-phot-posi {
  /*float:left;*/
  top: 0.75rem;
  left: 5px;
  position: absolute;
  /*left:0;*/
  width:34px;
  height:34px;
  background-image: url("../image/sul.jpg");
}
.form-con .form-loca-use {

  padding-top: 0.65625rem;
  line-height: 100%;
}

.comment-list .form-con {
  position: absolute;
  display: inline-block;
  left: 19%;
}
.comment-listener {
  margin-left: 50px;
  margin-top: 4.4%;
  width:100%;
  display: inline-block;
}
.comment-listener .comment-inputer {
  float:left;
  height: 35px;
  width: 70%
}
.comment-listener .comment-submit-btn {
  float:left;
padding: 0;
margin: 0;

  height: 35px;
}
.comment-listener input, button {
  border: 1px solid #ccc;
  padding: 0;
}

/*comment 입력 헤더*/

.comments-header {
  height: 30px;
  position: relative;
  line-height: 30px;
}
.comment-list-contents {
  position: absolute;
  left: 0;
  bottom:0;
}


.comment-list-contents {
  margin-top: 10px;
  font-size: 0.875rem;
}
.comment-list-contents .num {
  margin-left: 5px;
}
/*뎃글 리스트*/
.comment-list-units-con li {
position:relative;
  min-height: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-list-unit-conainer {
left:0px;
position: absolute;
  width:100%;

}

.comment-list-unit-conainer .user-phot-comment-in-li-posi {
  position: absolute;
  left : 0px;
  /*float: left;*/
  font-size: 1.875rem;
  margin: 10px 0 0 10px;
  width:34px;
  height:34px;
  background-image: url("../image/sul.jpg");
}

.comment-list-unit-conainer .comment-list-unit-textinfos {
  position: absolute;
  left: 20%;
  display: inline-block;
  width:80%;
  min-height: 50px;
  /*float: left;*/
}

.comment-list-unit-textinfos {
  line-height: 15px;
}

.comment-list-unit-textinfos .users-comment-in-name{
  color: #4c4cff;
  font-size: 0.75rem;
}
.comment-list-unit-textinfos .height-control {
  display: inline;
  margin-top: 2px;
  margin-bottom: 2px;
}

.users-comment-in-content-textinfo{
  margin-top: 2px;
  line-height: 13px;
}

.users-comment-in-content-textinfo .users-comment-in-content-datereply,.users-comment-in-content-selectfunc{
  display: inline-block;
  font-size: 13px;

}

.users-comment-in-content-textinfo .users-comment-in-content-datereply{

  float : left;
}

.users-comment-in-content-datereply span {
  margin-left: 5px;
}

.users-comment-in-content-textinfo .users-comment-in-content-selectfunc{
  float: right;
  margin-left: 5px;
}

.users-comment-in-content-selectfunc .heart,.comui {
  margin-left: 5px;

}
/*우측 하단 코멘트*/
/*middle main contents*/

.content-box {
  min-width: 100%;
 display: inline-block;
 margin-right: 5%;
 text-align: left;
}

/*.zzal-detail-content-container-footer div{
  display: inline-block;

}*/
@media (min-width: 1010px) {
  #m-zzallect-starter.in-mobile-detail, .in-mobile-detail {
    display: none;
  }
   .zzal-detail-content-container {
    padding-top: 20px;
    position: relative;
    max-width: 61%;
    margin-left: 120px;

}
.contents-title h1 {
  margin-right: 20PX;
  display: inline-block;
  float:left;
}
.zzal-detail-content-container .contents-title{
  width: 85%;
  text-align: left;
}
.zzal-detail-content-container .func-button{
  position: absolute;
  top:33px;
  right:33px;
  display: inline-block;
  font-size: 1.875rem;
  font-weight: 300;
  color: #cca;
  }
.zzal-detail-content-container .images-wrapper {
  display: inline-block;
  margin-left: 10%;
  margin-right: 40%;
  position: relative;
  width: 80%;
  /*padding-bottom: 60%;*/
  overflow: hidden;
  min-height: 300px;
  /*height: auto;*/
}
.images-wrapper .contents-images-zzals {
  padding: 0px;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: auto;
}

/*middle contents*/
/*.content-box {
  display: inline-block;
  margin-left: 2%;
  margin-right: 5%;
  text-align: left;
  min-width: 100%;
}*/

.zzal-detail-content-container-footer {
  font-weight: 100;
  text-align: center;
  /*bottom: 2px;*/
  width : 100%;
  padding : 5px 0;
  padding-bottom: 100px;
  /*position: absolute;*/
  display: inline-block;
  left:29%;
  font-size: 1.875rem;
 }
 .zzal-detail-content-container-footer div{
   display: inline-block;
 }

 /*.mobile-header {
   display:none;
 }*/
}
@media (max-width: 1009px) {

.in-mobile-detail {
    display: none;
  }

  .zzal-detail-content-container {
   padding-top: 20px;
   position: relative;
   max-width: 50%;
   margin-left: 100px;

}
.contents-title h1 {
 margin-right: 20PX;
 display: inline-block;
 float:left;
}
.zzal-detail-content-container .contents-title{
 width: 85%;
 text-align: left;
}
.zzal-detail-content-container .func-button{
 position: absolute;
 top:33px;
 right:33px;
 display: inline-block;
 font-size: 1.875rem;
 font-weight: 300;
 color: #cca;
 }
.zzal-detail-content-container .images-wrapper {
 display: inline-block;
 margin-left: 10%;
 margin-right: 40%;
 position: relative;
 width: 80%;
 /*padding-bottom: 60%;*/
 overflow: hidden;
 min-height: 200px;
 /*height: auto;*/
}
.images-wrapper .contents-images-zzals {
 padding: 0px;
 position: absolute;
 display: inline-block;
 width: 100%;
 height: auto;
}
/*middle contents*/
/*.content-box {
  min-width: 100%;
 display: inline-block;
 margin-left: 2%;
 margin-right: 5%;
 text-align: left;
}*/

.zzal-detail-content-container-footer {
 font-weight: 100;
 text-align: center;
 /*bottom: 2px;*/
 width : 100%;
 padding : 5px 0;
 padding-bottom: 100px;
 /*position: absolute;*/
 display: inline-block;
 left:29%;
 font-size: 1.875rem;
}

  .zzal-detail-content-container-footer div{
    display: inline-block;
  }


  .mobile-detail-footer,.write-date,.mmove-arrow {
    display: none;
  }

}
