
@media (min-width:751px) {
  .mobile-detail-footer,.write-date,.mmove-arrow {
    display: none;
  }
}
@media (max-width: 750px) {

  /*mobile-in-dis-detialmain-p   detailmain page에서 안보이게 하기 위함!*/
  /*mobile-detail-main-header*/
  #con .mobile-in-dis-detailmain-p {
    display:none;
  }

  .header .fa-search{
    -webkit-text-stroke : 1px #ffffff;
  }
  .mobile-detail-cover {
    height: 100vh;

  }
  .mobile-detail-cover .header {
    background-color: transparent;
  }

  /*mobile-detail-main-header*/
  /*mobile-detail-cover, image*/
  .mobile-detail-cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("image/ohh.jpg");
  }

  .mobile-detail-backimage {
    height: 100%;
    position: relative;
    background-color: rgba(51, 51, 51,0.5);
    overflow:hidden;
  }
  /*mobile-detail-cover, image*/

  .mdetail-footer .mfooter {
    display: inline-block;
    color:#ffffff;
  }
 .mfooter .name {
  font-size: 27px;
  margin: 0 3px;
 }
  .mfooter .num {
  font-size: 16px;
  margin-right: 3px;
  }

  /*mobile-in-dis mobile detail page에서는 사용하지 않는다*/



  .mobile-detail-main-con{
    min-width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
  }

  .mobile-detail-main-con .mobile-detail-main-mid{
    position: absolute;
    top:40%;
    width: 100%;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    color: #ffffff;
  }

  /*.zzal-detail-content-container .mobile-detail-main-mid{

  }*/

  .mobile-detail-main-mid h2{
    width: 80%;
    display: inline-block;
  }
  .mobile-detail-main-mid .contents-title {
    display: inline-block;
    margin: 0;
  }
  .write-date {
    display: block;
    margin-left: 10px;
  }
  .mmove-arrow {
    margin-left: 20px;
    padding-top: 10px;
    display: block;
    color: rgba(255,255,255, 0.5);
  }

/*mobile-detail-main-footer*/
  .mobile-detail-footer{
    display: inline-block;
    width:100%;
    position: fixed;
    bottom:0;
    text-align: center;
    margin-bottom: 20px;
  }

/*mobile-detail-main-footer*/

.mobile-contents-header {
  display: none;
}



/*mobile util css*/
.mobile-in-dis {
  display:none
}

  .footer {
    display: none;
  }
/*mobile util css*/

}
