
/*.ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c{
display: none;
}*/

@media (min-width:751px) {
  .mobile-detail-footer,.write-date,.mmove-arrow {
    display: none;
  }
}
@media (max-width: 750px) {

  /*mobile-in-dis-detialmain-p   detailmain page에서 안보이게 하기 위함!*/
  /*mobile-detail-main-header*/
  #con .m-dis-depg {
    display:none;
  }


  .mobile-detail-cover {
    height: 100vmax;

  }
  .mobile-detail-cover .header {
    background-color: transparent;
  }

  /*mobile-detail-main-header*/
  /*mobile-detail-cover, image*/

  .mobile-detail-cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("image/ohh.jpg");
  }

  .mobile-detail-backimage {
    height: 100%;
    position: relative;
    background-color: rgba(51, 51, 51,0.5);
    overflow:hidden;
  }
  /*mobile-detail-cover, image*/

  .mdetail-footer .mfooter {
    display: inline-block;
    color:#ffffff;
  }
  .mfooter .name {
   font-size: 27px;
   margin: 0 3px;
  }
  .mfooter .num {
  font-size: 16px;
  margin-right: 3px;
  }

  /*mobile-in-dis mobile detail page에서는 사용하지 않는다*/



  .mobile-detail-main-con{
    min-width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
  }

  .mobile-detail-main-con .mobile-detail-main-mid{
    position: absolute;
    top:40%;
    width: 100%;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    color: #ffffff;
  }

  /*.zzal-detail-content-container .mobile-detail-main-mid{

  }*/

  .mobile-detail-main-mid h2{
    width: 80%;
    display: inline-block;
  }
  .mobile-detail-main-mid .contents-title {
    display: inline-block;
    margin: 0;
  }
  .write-date {
    display: block;
    margin-left: 10px;
  }
  .mmove-arrow {
    margin-left: 20px;
    padding-top: 10px;
    display: block;
    color: rgba(255,255,255, 0.5);
  }

/*mobile-detail-main-footer*/
  .mobile-detail-footer{
    display: inline-block;
    width:100%;
    position: fixed;
    bottom:0;
    text-align: center;
    margin-bottom: 20px;
  }

/*mobile-detail-main-footer*/

/*.mobile-contents-header {
  display: none;
}*/

/*mobile detail pg contents*/

/*mobile util css*/
.mobile-in-dis {
  display:none
}

.header .fa-search{
  -webkit-text-stroke : 1px #ffffff;
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
  display: none;
}
  .footer {
    display: none;
  }



/*mobile util css*/

/*main contents*/

  .mobile-contents-header .mobile-right {
    float: right;
  }
  .mobile-contents-header .mobile-right div {
    display: inline-block;
    margin: 0 5px;
    font-size: 30px;
  }
  .mobile-contents-header .left {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 10px;
  }
  .mobile-contents-header .mobile-right{
    font-size: 35px;
    margin-right: 10px;
    position: absolute;
    right :0;

  }
  .mobile-contents-header .header .fa-search{
    -webkit-text-stroke : 1px #ffffff;
  }

  .mobile-main-midbot-con > .contents-title,#detail-pgContext,.zzal-detail-content-container-footer{
    display:none;
  }

  .mobile-detail-main-con{
    max-width: 100%;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    color: #ffffff;
  }

  .mobile-detail-main-con h2{
    width: 80%;
    display: inline-block;
  }
  /*.mobile-detail-main-con .contents-title {
    display: inline-block;
    margin: 0;
  }*/
  .m-det-contents-footer .page-footer .float-foot > .move-pointer-left,.move-pointer-right,span{
    float:left
  }
  .m-det-contents-footer .mobile-detailpage-left-footer {
    display: inline-block;
    /*margin : 0 10px 0 10px;*/
    float:left;
    line-height: 30px;
    font-size: 28px;
  }
  .m-det-contents-footer .mobile-detailpage-left-footer div {
    display: inline-block;
  }


  .m-det-contents-footer .mobile-detailpage-right-footer{
    float:right;
    margin-right: 10px;

  }

  .m-det-contents-footer .page-footer a{
    padding: 5px;
  }





/*main contents*/

}
