@CHARSET "UTF-8";

/*desktop*/
@media (min-width: 766px) {
  .main-content.write-wrap {
    margin-top: 60px;
  }


  .zzal-container .zzal-lect-detail-con {
    /*border: solid 1px red;*/
    /*position: relative;*/
    max-width: 765px;
    /*height : 800px;*/
    /*요기는 상의*/
    margin: 0 auto;
  }

  .main-content {
    margin-left: 0px;
  }

  .main-content.write-wrap {

  }

 .left-func-menu {
  position: absolute;
  height: 80%;
  text-align: center;
  font-size:  0.875rem;
  float: left;
  border-right: solid 1px #ccc;
  width: 75px;
}

  .photo {
    position: absolute;
    top: 3%;
    left: 50%;
    margin-left: -22px;
  }

  .photo:hover {
    color: orange;
  }


  .fa-camera {
    font-size: 40px;
  }

  .photo > p {
    margin-top: 0px;
    /*margin-left: 5px;*/
  }

  .video {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -22px;
  }

  .video:hover {
    color: orange;
  }


  .fa-link {
    font-size:40px;
    margin-left: 3px;
  }

  .video > p {
    margin-top: 0px;
  }


  .voice {
    position: absolute;
    top: 27%;
    left: 50%;
    margin-left: -22px;
  }

  .voice:hover {
    color: orange;
  }


  .fa-headphones {
    font-size:40px;
    margin-left: 3px;
  }

  .voice > p {
    margin-top: 0px;
    margin-bottom: 250px;
    /*margin-left: 100px;*/
  }

  .zzal-lect-detail-con {
    margin-left : 80px;
  }

  .buttons {
    position: absolute;
    bottom: 30%;
    left: 50%;
    margin-left: -30px;
  }


  .button-2 {
    margin-top:10px;
  }

  .write-con {
    border: 3px solid red;
    position: relative;
    min-height: 600px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .write-con .id-title-pic-con {
    position: absolute;
    height: 70%;
    width:100%;
  }

  .write-con .id-title-pic-con .user-line {
    margin-top: 20px;
  }

  .user-picture {
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin-top: 3px;
    margin-left: 4px;
    /*border: 1px solid black;*/
    display: inline-block;
    background-image: url('../image/userpicture.jpg');
    background-size: 50px 50px;
  }

  .user-id {
    font-size: 0.875rem;
  }

.title-collection {
  margin-top: 20px;
}

.title-collection .title-line {
    float:left;
    background:gray;
    width: 70%;
    /*border: 1px solid black;*/
    font-size:1.5rem;
  }

  .select-collection {
    float:right;
    background: red;
    width:30%;
  }

  .picture-line {
    margin-top: 15px;
    /*height:300px;*/
    width: 100%;
    height: auto%;
    border: 1px solid red;

  }


.text-pagebutton {
  position : absolute;
  top:70%;
  height:30%;
  width:100%;
}


  .text {
    height: 130px;
    width: 100%;
    /*border: 1px solid black;*/
    text-align: center;
    margin-top: 20px;
  }

  .nextpagebutton  {
    text-align: center;
  }

  .nextpagebutton .fa {
    font-size : 2.5rem;
    cursor:pointer;
  }


}













/*mobile*/
@media (max-width: 765px) {


  .header .right {
    display: none;
  }

  .buttons {
    display: none;
  }

  .mobile-buttons {
    position: absolute;
    z-index: 920;
    right:0;
    float:right;

  }

  .mobile-buttons .mbutton {
    color:white;
    font-size: 1.125rem;
  }

  .footer.writezzal-footer {
    display: none;
  }






  .left-func-menu {
    float :right;
    hegiht: 30%;
  }

   .photo {
     position: absolute;
     top: 3%;
     left: 50%;
     margin-left: -22px;
   }

   .photo:hover {
     color: orange;
   }


   .fa-camera {
     font-size: 40px;
   }

   .photo > p {
     margin-top: 0px;
     /*margin-left: 5px;*/
   }

   .video {
     position: absolute;
     top: 15%;
     left: 50%;
     margin-left: -22px;
   }

   .video:hover {
     color: orange;
   }


   .fa-link {
     font-size:40px;
     margin-left: 3px;
   }

   .video > p {
     margin-top: 0px;
   }


   .voice {
     position: absolute;
     top: 27%;
     left: 50%;
     margin-left: -22px;
   }

   .voice:hover {
     color: orange;
   }


   .fa-headphones {
     font-size:40px;
     margin-left: 3px;
   }

   .voice > p {
     margin-top: 0px;
     margin-bottom: 250px;
     /*margin-left: 100px;*/
   }

   .zzal-lect-detail-con {
     margin-left : 80px;
   }

   .buttons {
     position: absolute;
     bottom: 30%;
     left: 50%;
     margin-left: -30px;
   }


   .button-2 {
     margin-top:10px;
   }

   .write-con {
     border: 3px solid red;
     position: relative;
     min-height: 600px;
     width: 500px;
     margin: 0 auto;
     margin-top: 20px;
   }

   .write-con .id-title-pic-con {
     position: absolute;
     height: 70%;
     width:100%;
   }

   .write-con .id-title-pic-con .user-line {
     margin-top: 20px;
   }

   .user-picture {
     height: 50px;
     width: 50px;
     border-radius:25px;
     margin-top: 3px;
     margin-left: 4px;
     /*border: 1px solid black;*/
     display: inline-block;
     background-image: url('../image/userpicture.jpg');
     background-size: 50px 50px;
   }

   .user-id {
     font-size: 0.875rem;
   }

 .title-collection {
   margin-top: 20px;
 }

 .title-collection .title-line {
     float:left;
     background:gray;
     width: 70%;
     /*border: 1px solid black;*/
     font-size:1.5rem;
   }

   .select-collection {
     float:right;
     background: red;
     width:30%;
   }

   .picture-line {
     margin-top: 15px;
     /*height:300px;*/
     width: 100%;
     height: auto%;
     border: 1px solid red;

   }


 .text-pagebutton {
   position : absolute;
   top:70%;
   height:30%;
   width:100%;
 }


   .text {
     height: 130px;
     width: 100%;
     /*border: 1px solid black;*/
     text-align: center;
     margin-top: 20px;
   }

   .nextpagebutton  {
     text-align: center;
   }

   .nextpagebutton .fa {
     font-size : 2.5rem;
     cursor:pointer;
   }







} /*@media mobile
